
.idea/CommaSeparatedValues.iml
.idea/misc.xml
comma_separated_values/__pycache__/my_utils.cpython-310.pyc
.idea/discord.xml
.idea/misc.xml
comma_separated_values/__pycache__/reader.cpython-310.pyc
.idea/misc.xml
.idea/CommaSeparatedValues.iml
